*{
    margin:0;
    padding:0;
}

body {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
canvas {
    border: #fff 20px solid;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 3vw;
    color: #fff;
    position: absolute;
    left: 4%;
    top: 0%;
}

.reverse {
    left: 82%;
}

.mid{
    font-size: 6vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide{
    display: none;
}

.unselectable{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#scoreEl,#timeEl,#levelEl,#livesEl{
    margin-top: 4vw;
}

@media (min-width: 2000px){
    canvas{
        width: 840px;
    }
}

@media (max-width: 2000px){
    canvas{
        width: 42vw;
    }
}

@media (max-width: 1500px){
    canvas{
        width: 50vw;
        border: #fff 15px solid;
        margin-top: 15vw;
    }
    .mid{
        font-size: 7vw;
        margin-top: 8vw;
    }
}

@media (max-width: 1000px){
    canvas{
        width: 68vw;
        border: #fff 15px solid;
    }
    .reverse {
        left: 72%;
    }
    #scoreEl,#timeEl,#levelEl,#livesEl{
        font-size: 5vw;
    }
}

@media (max-width: 800px){
    canvas{
        width: 90vw;
        border: #fff 10px solid;
    }
    #scoreEl,#timeEl,#levelEl,#livesEl{
        font-size: 5vw;
    }
}

@media (max-width: 500px){
    .reverse {
        left: 68%;
    }
    #scoreEl,#timeEl,#levelEl,#livesEl{
        font-size: 6vw;
        margin-top: 30vw;
    }
}


::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
  }
::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(27, 27, 27);
  }