body {
    background-color: #1b1b1b;
    overflow-y: hidden;
    overflow-x: hidden;
}
canvas {
    margin-left:28%;
    width: 100%;
}

p {
    text-align: center;
}

.block {
    display: block;
    width: 20%;
    height: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    font-weight: 1000;
    margin-left: 38%;
    margin-top: 9%;
    border: none;
    background-color: #FFFFFF;
    color: #1b1b1b;
    cursor: pointer;
    text-align: center;
    position: absolute;
  }

  .br {
    margin-top: 18%;
    margin-left: 43%;
  }
  .brr {
    margin-top: 27%;
  }

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 3vw;
    color: white;
    position: absolute;
    left: 4%;
}

.reverse {
    left: 80%;
}
.mid{
    font-size: 6vw;
    left: 30%;
    margin-top: 17vw;
    display: block;
}
.hide{
    display: none;
}

.title{
    width: 400px;
}

.unselectable{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 900px){
    canvas{
        width:220%;
        margin-left:2%;
    }
    body{
        overflow-y: unset;
    }
    span{
        margin-top: 95vw;
        font-size: 5vw;
    }
    .reverse {
        left: 72%;
    }
    .mid{
        font-size: 10vw;
        left: 18%;
        margin-top: 40vw;   
    }
    .block{
        width: 40%;
        height: 10vw;
        margin-left: 28%;
        margin-top: 20vw;
        font-size: 6vw;
    }
    .br {
        margin-top: 35vw;
        margin-left: 43%;
      }
      .brr {
        margin-top: 50vw;
      }
}

@media (min-width: 1900px){
    canvas{
        width:1900px;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
  }
::-webkit-scrollbar-thumb {
    background: rgb(27, 27, 27);
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(27, 27, 27);
  }